<%- include("./partials/header.ejs", {title: "articles"}) %>
<h1><%= article.title %></h1>
<h2><%= article.author %></h2>
<p>Date de publication: <span id="published-at"><%= article.publishedAt %></span> (<span id="time-ago"></span>)</p>
<h2><%= article.description %></h2>
<img src="<%= `${article.urlToImage}` %>" alt="gallery image" />
<p><%= article.content %></p>


<button type="button">Modifier</button>
<button id="delete-article" type="button">Supprimer</button>
  

<script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
<script src="/js/article.js"></script>
<%- include("./partials/footer.ejs") %>